@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

input,
button,
textarea {
  font-family: inherit;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
html {
  overflow-x: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body {
  background-color: #282828;
}

body._lock {
  overflow: hidden;
}

.container {
  max-width: 1530px;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  padding: 80px 0 120px;
}

.header .title {
  font-size: 60px;
  font-family: "Playfair Display SC";
  color: #b69b67;
  margin-bottom: 25px;
  text-align: center;
  text-transform: uppercase;
  max-width: 100%;
}

@media screen and (max-width: 767px) {
  .header .title {
    font-size: 40px;
  }
}

.header .title:before {
  content: "";
  display: block;
  width: 400px;
  height: 1px;
  background-color: #b69b67;
  margin: auto;
}

@media screen and (max-width: 767px) {
  .header .title:before {
    width: 265px;
  }
}

.header .subtitle {
  font-size: 30px;
  font-family: "Ubuntu";
  color: #b4b4b4;
  max-width: 580px;
  margin-bottom: 70px;
  margin: auto;
  text-align: right;
  text-transform: uppercase;
}

.header .header__menu .nav-list {
  text-align: center;
  padding: 144px 0px 0px 0px;
}

@media screen and (max-width: 991px) {
  .header .header__menu .nav-list {
    text-align: center;
  }
}

.header .header__menu .nav-list .list-item .item {
  text-transform: uppercase;
  font-size: 31px;
  color: #b4b4b4;
  margin-bottom: 15px;
  display: inline-block;
}

.header .header__menu .nav-list .list-item .item:hover {
  color: #b69b67;
}

.header .banner {
  max-width: 200px;
  margin: auto;
  text-align: center;
  position: relative;
  margin-bottom: 50px;
}

@media screen and (max-width: 767px) {
  .header .banner {
    margin-bottom: 100px;
  }
}

.header .banner:after {
  content: "";
  display: block;
  position: absolute;
  bottom: 1px;
  left: 12%;
  width: 154px;
  height: 155px;
  background-color: transparent;
  border-radius: 50%;
  -webkit-animation-name: light;
          animation-name: light;
  -webkit-animation-iteration-count: 3;
          animation-iteration-count: 3;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-transition-timing-function: cubic-bezier(0, 0.8, 0.3, 0.91);
  transition-timing-function: cubic-bezier(0, 0.8, 0.3, 0.91);
}

@media (min-width: 312px) and (max-width: 1312px) {
  .header .banner:after {
    width: 138px;
    height: 128px;
    bottom: 3px;
    left: 15%;
  }
}

.header .banner img {
  max-width: 100%;
  opacity: 0.3;
  -webkit-animation-iteration-count: 3;
          animation-iteration-count: 3;
  -webkit-animation-name: opac;
          animation-name: opac;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
  -webkit-transition-timing-function: cubic-bezier(0, 0.8, 0.3, 0.91);
  transition-timing-function: cubic-bezier(0, 0.8, 0.3, 0.91);
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@media (min-width: 312px) and (max-width: 1312px) {
  .header .banner img {
    max-width: 70%;
  }
}

@-webkit-keyframes light {
  0% {
    -webkit-box-shadow: 0px 0px 0px 0px rgba(182, 155, 103, 0.2);
            box-shadow: 0px 0px 0px 0px rgba(182, 155, 103, 0.2);
  }
  4% {
    -webkit-box-shadow: 0px 31px 50px 10px rgba(182, 155, 103, 0.2), 0px 31px 60px 20px rgba(182, 155, 103, 0.2), 0px 31px 80px 30px rgba(182, 155, 103, 0.2), 0px 46px 90px 40px rgba(182, 155, 103, 0.2), inset 0px -123px 41px -22px rgba(207, 164, 106, 0.3), inset 0px -130px 45px 14px rgba(207, 164, 106, 0.2);
            box-shadow: 0px 31px 50px 10px rgba(182, 155, 103, 0.2), 0px 31px 60px 20px rgba(182, 155, 103, 0.2), 0px 31px 80px 30px rgba(182, 155, 103, 0.2), 0px 46px 90px 40px rgba(182, 155, 103, 0.2), inset 0px -123px 41px -22px rgba(207, 164, 106, 0.3), inset 0px -130px 45px 14px rgba(207, 164, 106, 0.2);
  }
  8% {
    -webkit-box-shadow: 0px 0px 0px 0px rgba(182, 155, 103, 0.2);
            box-shadow: 0px 0px 0px 0px rgba(182, 155, 103, 0.2);
  }
  18% {
    -webkit-box-shadow: 0px 31px 50px 10px rgba(182, 155, 103, 0.2), 0px 31px 60px 20px rgba(182, 155, 103, 0.2), 0px 31px 80px 30px rgba(182, 155, 103, 0.2), 0px 46px 90px 40px rgba(182, 155, 103, 0.2), inset 0px -123px 41px -22px rgba(207, 164, 106, 0.3), inset 0px -130px 45px 14px rgba(207, 164, 106, 0.2);
            box-shadow: 0px 31px 50px 10px rgba(182, 155, 103, 0.2), 0px 31px 60px 20px rgba(182, 155, 103, 0.2), 0px 31px 80px 30px rgba(182, 155, 103, 0.2), 0px 46px 90px 40px rgba(182, 155, 103, 0.2), inset 0px -123px 41px -22px rgba(207, 164, 106, 0.3), inset 0px -130px 45px 14px rgba(207, 164, 106, 0.2);
  }
  26% {
    -webkit-box-shadow: 0px 0px 0px 0px rgba(182, 155, 103, 0.2);
            box-shadow: 0px 0px 0px 0px rgba(182, 155, 103, 0.2);
  }
  44% {
    -webkit-box-shadow: 0px 31px 50px 10px rgba(182, 155, 103, 0.2), 0px 31px 60px 20px rgba(182, 155, 103, 0.2), 0px 31px 80px 30px rgba(182, 155, 103, 0.2), 0px 46px 90px 40px rgba(182, 155, 103, 0.2), inset 0px -123px 41px -22px rgba(207, 164, 106, 0.3), inset 0px -130px 45px 14px rgba(207, 164, 106, 0.2);
            box-shadow: 0px 31px 50px 10px rgba(182, 155, 103, 0.2), 0px 31px 60px 20px rgba(182, 155, 103, 0.2), 0px 31px 80px 30px rgba(182, 155, 103, 0.2), 0px 46px 90px 40px rgba(182, 155, 103, 0.2), inset 0px -123px 41px -22px rgba(207, 164, 106, 0.3), inset 0px -130px 45px 14px rgba(207, 164, 106, 0.2);
  }
  100% {
    -webkit-box-shadow: 0px 31px 50px 10px rgba(182, 155, 103, 0.2), 0px 31px 60px 20px rgba(182, 155, 103, 0.2), 0px 31px 80px 30px rgba(182, 155, 103, 0.2), 0px 46px 90px 40px rgba(182, 155, 103, 0.2), inset 0px -123px 41px -22px rgba(207, 164, 106, 0.3), inset 0px -130px 45px 14px rgba(207, 164, 106, 0.2);
            box-shadow: 0px 31px 50px 10px rgba(182, 155, 103, 0.2), 0px 31px 60px 20px rgba(182, 155, 103, 0.2), 0px 31px 80px 30px rgba(182, 155, 103, 0.2), 0px 46px 90px 40px rgba(182, 155, 103, 0.2), inset 0px -123px 41px -22px rgba(207, 164, 106, 0.3), inset 0px -130px 45px 14px rgba(207, 164, 106, 0.2);
  }
}

@keyframes light {
  0% {
    -webkit-box-shadow: 0px 0px 0px 0px rgba(182, 155, 103, 0.2);
            box-shadow: 0px 0px 0px 0px rgba(182, 155, 103, 0.2);
  }
  4% {
    -webkit-box-shadow: 0px 31px 50px 10px rgba(182, 155, 103, 0.2), 0px 31px 60px 20px rgba(182, 155, 103, 0.2), 0px 31px 80px 30px rgba(182, 155, 103, 0.2), 0px 46px 90px 40px rgba(182, 155, 103, 0.2), inset 0px -123px 41px -22px rgba(207, 164, 106, 0.3), inset 0px -130px 45px 14px rgba(207, 164, 106, 0.2);
            box-shadow: 0px 31px 50px 10px rgba(182, 155, 103, 0.2), 0px 31px 60px 20px rgba(182, 155, 103, 0.2), 0px 31px 80px 30px rgba(182, 155, 103, 0.2), 0px 46px 90px 40px rgba(182, 155, 103, 0.2), inset 0px -123px 41px -22px rgba(207, 164, 106, 0.3), inset 0px -130px 45px 14px rgba(207, 164, 106, 0.2);
  }
  8% {
    -webkit-box-shadow: 0px 0px 0px 0px rgba(182, 155, 103, 0.2);
            box-shadow: 0px 0px 0px 0px rgba(182, 155, 103, 0.2);
  }
  18% {
    -webkit-box-shadow: 0px 31px 50px 10px rgba(182, 155, 103, 0.2), 0px 31px 60px 20px rgba(182, 155, 103, 0.2), 0px 31px 80px 30px rgba(182, 155, 103, 0.2), 0px 46px 90px 40px rgba(182, 155, 103, 0.2), inset 0px -123px 41px -22px rgba(207, 164, 106, 0.3), inset 0px -130px 45px 14px rgba(207, 164, 106, 0.2);
            box-shadow: 0px 31px 50px 10px rgba(182, 155, 103, 0.2), 0px 31px 60px 20px rgba(182, 155, 103, 0.2), 0px 31px 80px 30px rgba(182, 155, 103, 0.2), 0px 46px 90px 40px rgba(182, 155, 103, 0.2), inset 0px -123px 41px -22px rgba(207, 164, 106, 0.3), inset 0px -130px 45px 14px rgba(207, 164, 106, 0.2);
  }
  26% {
    -webkit-box-shadow: 0px 0px 0px 0px rgba(182, 155, 103, 0.2);
            box-shadow: 0px 0px 0px 0px rgba(182, 155, 103, 0.2);
  }
  44% {
    -webkit-box-shadow: 0px 31px 50px 10px rgba(182, 155, 103, 0.2), 0px 31px 60px 20px rgba(182, 155, 103, 0.2), 0px 31px 80px 30px rgba(182, 155, 103, 0.2), 0px 46px 90px 40px rgba(182, 155, 103, 0.2), inset 0px -123px 41px -22px rgba(207, 164, 106, 0.3), inset 0px -130px 45px 14px rgba(207, 164, 106, 0.2);
            box-shadow: 0px 31px 50px 10px rgba(182, 155, 103, 0.2), 0px 31px 60px 20px rgba(182, 155, 103, 0.2), 0px 31px 80px 30px rgba(182, 155, 103, 0.2), 0px 46px 90px 40px rgba(182, 155, 103, 0.2), inset 0px -123px 41px -22px rgba(207, 164, 106, 0.3), inset 0px -130px 45px 14px rgba(207, 164, 106, 0.2);
  }
  100% {
    -webkit-box-shadow: 0px 31px 50px 10px rgba(182, 155, 103, 0.2), 0px 31px 60px 20px rgba(182, 155, 103, 0.2), 0px 31px 80px 30px rgba(182, 155, 103, 0.2), 0px 46px 90px 40px rgba(182, 155, 103, 0.2), inset 0px -123px 41px -22px rgba(207, 164, 106, 0.3), inset 0px -130px 45px 14px rgba(207, 164, 106, 0.2);
            box-shadow: 0px 31px 50px 10px rgba(182, 155, 103, 0.2), 0px 31px 60px 20px rgba(182, 155, 103, 0.2), 0px 31px 80px 30px rgba(182, 155, 103, 0.2), 0px 46px 90px 40px rgba(182, 155, 103, 0.2), inset 0px -123px 41px -22px rgba(207, 164, 106, 0.3), inset 0px -130px 45px 14px rgba(207, 164, 106, 0.2);
  }
}

@-webkit-keyframes opac {
  0% {
    opacity: 0.3;
  }
  4% {
    opacity: 1;
  }
  8% {
    opacity: 0.3;
  }
  18% {
    opacity: 1;
  }
  26% {
    opacity: 0.3;
  }
  44% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes opac {
  0% {
    opacity: 0.3;
  }
  4% {
    opacity: 1;
  }
  8% {
    opacity: 0.3;
  }
  18% {
    opacity: 1;
  }
  26% {
    opacity: 0.3;
  }
  44% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

.header h2 {
  position: relative;
  text-transform: uppercase;
  font-family: "Ubuntu";
  font-size: 60px;
  text-align: center;
  margin-bottom: 160px;
  color: #3b3b3b;
  -webkit-transition-timing-function: cubic-bezier(0, 0.8, 0.3, 0.91);
  transition-timing-function: cubic-bezier(0, 0.8, 0.3, 0.91);
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-name: text-light;
          animation-name: text-light;
  -webkit-animation-iteration-count: 3;
          animation-iteration-count: 3;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  text-shadow: 0px 0px 3px #3b3b3b;
}

@media (max-width: 767px) {
  .header h2 {
    font-size: 33px;
  }
}

@media (min-width: 768px) and (max-width: 1312px) {
  .header h2 {
    font-size: 33px;
  }
}

.header .right {
  color: #3b3b3b;
  text-shadow: 0px 0px 3px #3b3b3b;
}

@media (max-width: 767px) {
  .header .right {
    display: none;
  }
}

.header .right:before {
  content: "so";
  position: absolute;
  top: 0%;
  left: 25.3%;
  color: #3b3b3b;
  -webkit-transition-timing-function: cubic-bezier(0, 0.8, 0.3, 0.91);
  transition-timing-function: cubic-bezier(0, 0.8, 0.3, 0.91);
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-name: text-light-right;
          animation-name: text-light-right;
  -webkit-animation-iteration-count: 3;
          animation-iteration-count: 3;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@media (min-width: 768px) and (max-width: 1312px) {
  .header .right:before {
    display: none;
  }
}

.header .left {
  color: #3b3b3b;
  text-shadow: 0px 0px 3px #3b3b3b;
}

@media (max-width: 767px) {
  .header .left {
    display: none;
  }
}

.header .left:after {
  content: "have ";
  position: absolute;
  color: #3b3b3b;
  top: 0%;
  right: 23.4%;
  -webkit-transition-timing-function: cubic-bezier(0, 0.8, 0.3, 0.91);
  transition-timing-function: cubic-bezier(0, 0.8, 0.3, 0.91);
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-name: text-light-left;
          animation-name: text-light-left;
  -webkit-animation-iteration-count: 3;
          animation-iteration-count: 3;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@media (min-width: 768px) and (max-width: 1312px) {
  .header .left:after {
    display: none;
  }
}

@-webkit-keyframes text-light {
  0% {
    color: #555452;
    text-shadow: 0px 0px 0px rgba(150, 135, 107, 0.5);
  }
  4% {
    color: #96876b;
    text-shadow: 0px 6px 7px rgba(150, 135, 107, 0.5);
  }
  8% {
    color: #555452;
    text-shadow: 0px 0px 0px rgba(150, 135, 107, 0.5);
  }
  18% {
    color: #96876b;
    text-shadow: 0px 6px 7px rgba(150, 135, 107, 0.5);
  }
  26% {
    color: #555452;
    text-shadow: 0px 0px 0px rgba(150, 135, 107, 0.5);
  }
  44% {
    color: #96876b;
    text-shadow: 0px 6px 7px rgba(150, 135, 107, 0.5);
  }
  100% {
    color: #96876b;
    text-shadow: 0px 6px 7px rgba(150, 135, 107, 0.5);
  }
}

@keyframes text-light {
  0% {
    color: #555452;
    text-shadow: 0px 0px 0px rgba(150, 135, 107, 0.5);
  }
  4% {
    color: #96876b;
    text-shadow: 0px 6px 7px rgba(150, 135, 107, 0.5);
  }
  8% {
    color: #555452;
    text-shadow: 0px 0px 0px rgba(150, 135, 107, 0.5);
  }
  18% {
    color: #96876b;
    text-shadow: 0px 6px 7px rgba(150, 135, 107, 0.5);
  }
  26% {
    color: #555452;
    text-shadow: 0px 0px 0px rgba(150, 135, 107, 0.5);
  }
  44% {
    color: #96876b;
    text-shadow: 0px 6px 7px rgba(150, 135, 107, 0.5);
  }
  100% {
    color: #96876b;
    text-shadow: 0px 6px 7px rgba(150, 135, 107, 0.5);
  }
}

@-webkit-keyframes text-light-right {
  0% {
    color: #51504f;
    text-shadow: 0px 0px 0px rgba(150, 135, 107, 0.3);
  }
  4% {
    color: #7d7464;
    text-shadow: -2px 4px 7px rgba(150, 135, 107, 0.3);
  }
  8% {
    color: #51504f;
    text-shadow: 0px 0px 0px rgba(150, 135, 107, 0.3);
  }
  18% {
    color: #7d7464;
    text-shadow: -2px 4px 7px rgba(150, 135, 107, 0.3);
  }
  26% {
    color: #51504f;
    text-shadow: 0px 0px 0px rgba(150, 135, 107, 0.3);
  }
  44% {
    color: #7d7464;
    text-shadow: -2px 4px 7px rgba(150, 135, 107, 0.3);
  }
  100% {
    color: #7d7464;
    text-shadow: -2px 4px 7px rgba(150, 135, 107, 0.3);
  }
}

@keyframes text-light-right {
  0% {
    color: #51504f;
    text-shadow: 0px 0px 0px rgba(150, 135, 107, 0.3);
  }
  4% {
    color: #7d7464;
    text-shadow: -2px 4px 7px rgba(150, 135, 107, 0.3);
  }
  8% {
    color: #51504f;
    text-shadow: 0px 0px 0px rgba(150, 135, 107, 0.3);
  }
  18% {
    color: #7d7464;
    text-shadow: -2px 4px 7px rgba(150, 135, 107, 0.3);
  }
  26% {
    color: #51504f;
    text-shadow: 0px 0px 0px rgba(150, 135, 107, 0.3);
  }
  44% {
    color: #7d7464;
    text-shadow: -2px 4px 7px rgba(150, 135, 107, 0.3);
  }
  100% {
    color: #7d7464;
    text-shadow: -2px 4px 7px rgba(150, 135, 107, 0.3);
  }
}

@-webkit-keyframes text-light-left {
  0% {
    color: #51504f;
    text-shadow: 0px 0px 0px rgba(150, 135, 107, 0.3);
  }
  4% {
    color: #7d7464;
    text-shadow: 2px 4px 7px rgba(150, 135, 107, 0.3);
  }
  8% {
    color: #51504f;
    text-shadow: 0px 0px 0px rgba(150, 135, 107, 0.3);
  }
  18% {
    color: #7d7464;
    text-shadow: 2px 4px 7px rgba(150, 135, 107, 0.3);
  }
  26% {
    color: #51504f;
    text-shadow: 0px 0px 0px rgba(150, 135, 107, 0.3);
  }
  44% {
    color: #7d7464;
    text-shadow: 2px 4px 7px rgba(150, 135, 107, 0.3);
  }
  100% {
    color: #7d7464;
    text-shadow: 2px 4px 7px rgba(150, 135, 107, 0.3);
  }
}

@keyframes text-light-left {
  0% {
    color: #51504f;
    text-shadow: 0px 0px 0px rgba(150, 135, 107, 0.3);
  }
  4% {
    color: #7d7464;
    text-shadow: 2px 4px 7px rgba(150, 135, 107, 0.3);
  }
  8% {
    color: #51504f;
    text-shadow: 0px 0px 0px rgba(150, 135, 107, 0.3);
  }
  18% {
    color: #7d7464;
    text-shadow: 2px 4px 7px rgba(150, 135, 107, 0.3);
  }
  26% {
    color: #51504f;
    text-shadow: 0px 0px 0px rgba(150, 135, 107, 0.3);
  }
  44% {
    color: #7d7464;
    text-shadow: 2px 4px 7px rgba(150, 135, 107, 0.3);
  }
  100% {
    color: #7d7464;
    text-shadow: 2px 4px 7px rgba(150, 135, 107, 0.3);
  }
}

.header .header__burger {
  max-width: 100%;
  min-height: 84px;
}

.header .header__burger .header__burger-bord {
  margin-left: auto;
  position: fixed;
  right: 100px;
  z-index: 8;
  width: 82px;
  height: 82px;
  border: 1px solid #454545;
}

.header .header__burger .header__burger-bord:before {
  content: "";
  background-color: #b4b4b4;
  position: absolute;
  width: 52px;
  height: 2px;
  left: 13px;
  top: 20px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header .header__burger .header__burger-bord:after {
  content: "";
  background-color: #b4b4b4;
  position: absolute;
  width: 52px;
  height: 2px;
  left: 13px;
  bottom: 20px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header .header__burger .header__burger-bord span {
  background-color: #b4b4b4;
  position: absolute;
  width: 52px;
  height: 2px;
  left: 13px;
  top: 39px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

@media screen and (max-width: 991px) {
  .header .header__burger .header__burger-bord {
    border: 1px solid #454545;
    display: block;
    position: fixed;
    right: 20px;
    top: 20px;
    width: 50px;
    height: 50px;
    z-index: 8;
    padding: 15px;
    bottom: 163px;
  }
  .header .header__burger .header__burger-bord:before {
    content: "";
    background-color: #fff;
    position: absolute;
    width: 70%;
    height: 2px;
    left: 7px;
    top: 13px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header .header__burger .header__burger-bord:after {
    content: "";
    background-color: #fff;
    position: absolute;
    width: 70%;
    height: 2px;
    left: 7px;
    bottom: 13px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header .header__burger .header__burger-bord span {
    background-color: #fff;
    position: absolute;
    width: 70%;
    height: 2px;
    left: 7px;
    top: 23px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
}

.header .header__burger-bord.active:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 40px;
  left: 15px;
}

@media screen and (max-width: 991px) {
  .header .header__burger-bord.active:before {
    top: 23px;
    left: 7px;
  }
}

.header .header__burger-bord.active:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 40px;
  left: 15px;
}

@media screen and (max-width: 991px) {
  .header .header__burger-bord.active:after {
    top: 23px;
    left: 7px;
  }
}

.header .header__burger-bord.active span {
  -webkit-transform: scale(0);
          transform: scale(0);
}

.header .header__menu {
  position: fixed;
  left: 0;
  top: -100%;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(48, 48, 48, 0.7);
  padding: 15px;
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  z-index: 7;
}

@media screen and (max-width: 991px) {
  .header .header__menu {
    position: fixed;
    left: 0;
    top: -100%;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(48, 48, 48, 0.7);
    padding: 15px;
    -webkit-transition: all 0.8s ease 0s;
    transition: all 0.8s ease 0s;
    z-index: 7;
  }
}

.header .header__menu.active {
  top: 0;
  left: 0;
}

@media screen and (max-width: 991px) {
  .header .header__menu.active {
    top: 0;
    width: 100%;
    height: 100%;
    left: 0;
  }
}

.header #section04 a {
  color: #b4b4b4;
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  max-width: 100%;
  display: block;
  position: relative;
}

.header #section04 a span {
  position: absolute;
  top: 80%;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #b4b4b4;
  border-bottom: 1px solid #b4b4b4;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb04 2s infinite;
  animation: sdb04 2s infinite;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@-webkit-keyframes sdb04 {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    -webkit-transform: rotate(-45deg) translate(-10px, 10px);
  }
  40% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }
}

@keyframes sdb04 {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
            transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    -webkit-transform: rotate(-45deg) translate(-10px, 10px);
            transform: rotate(-45deg) translate(-10px, 10px);
  }
  40% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
            transform: rotate(-45deg) translate(0, 0);
  }
}

.services {
  padding: 75px 0px 125px 0px;
}

@media screen and (max-width: 767px) {
  .services {
    padding: 50px 0px 50px 0px;
  }
}

.services .container .title {
  font-size: 60px;
  font-weight: 600;
  text-transform: uppercase;
  color: #b4b4b4;
  font-family: "Playfair Display SC";
  margin-bottom: 60px;
  text-align: center;
}

@media screen and (max-width: 1199px) {
  .services .container .title {
    font-size: 40px;
  }
}

.services .container .row {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 568px) {
  .services .container .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.services .container .row .col-3 {
  -ms-flex: 0 0 33.333333%;
  -webkit-box-flex: 0;
          flex: 0 0 33.333333%;
  max-width: 33.333333%;
  padding: 0 15px;
}

@media screen and (max-width: 767px) {
  .services .container .row .col-3 {
    -ms-flex: 0 0 100%;
    -webkit-box-flex: 0;
            flex: 0 0 100%;
    max-width: 100%;
    padding: 0 15px;
    text-align: center;
  }
}

.services .container .row .col-3 .subtitle {
  font-size: 60px;
  font-family: "Ubuntu";
  color: #b69b67;
  margin-bottom: 60px;
  text-transform: uppercase;
  max-width: 100%;
}

@media screen and (max-width: 1199px) {
  .services .container .row .col-3 .subtitle {
    font-size: 40px;
  }
}

.services .container .row .col-3 .subtitle:before {
  content: "";
  display: block;
  width: 345px;
  height: 1px;
  background-color: #b69b67;
}

@media screen and (max-width: 1199px) {
  .services .container .row .col-3 .subtitle:before {
    width: 100%;
  }
}

.services .container .row .col-3 .subtitle:after {
  content: "";
  display: block;
  width: 458px;
  height: 1px;
  background-color: #454545;
}

@media screen and (max-width: 1199px) {
  .services .container .row .col-3 .subtitle:after {
    width: 100%;
  }
}

.services .container .row .col-3 .list-group .list-item .item {
  font-size: 30px;
  font-family: "Ubuntu";
  color: #b4b4b4;
  max-width: 580px;
  margin-bottom: 70px;
  display: inline-block;
  text-transform: uppercase;
}

@media screen and (max-width: 1199px) {
  .services .container .row .col-3 .list-group .list-item .item {
    font-size: 24px;
  }
}

.services .container .row .col-3 .list-group .list-item .item:hover {
  color: #b69b67;
}

.services .container .row .col-9 {
  -ms-flex: 0 0 66%;
  -webkit-box-flex: 0;
          flex: 0 0 66%;
  max-width: 66%;
  padding: 0 15px;
}

@media screen and (max-width: 767px) {
  .services .container .row .col-9 {
    -ms-flex: 0 0 100%;
    -webkit-box-flex: 0;
            flex: 0 0 100%;
    max-width: 100%;
  }
}

.services .container .row .col-9 .text {
  padding-top: 25px;
  max-width: 490px;
  font-size: 20px;
  font-family: "Ubuntu";
  color: #b4b4b4;
  line-height: 24px;
  margin-bottom: 60px;
}

.services .container .row .col-9 .text a {
  color: #b69b67;
}

.services .container .row .col-9 .block-img {
  position: relative;
  max-width: 762px;
  min-height: auto;
  background-color: #282828;
}

.services .container .row .col-9 .block-img img {
  max-width: 100%;
  margin-left: 60px;
}

@media screen and (max-width: 768px) {
  .services .container .row .col-9 .block-img img {
    margin-left: 0;
  }
}

.services .container .row #section04 a {
  color: #b4b4b4;
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  max-width: 100%;
  display: block;
  position: relative;
  margin-top: 60px;
}

.services .container .row #section04 a span {
  position: absolute;
  top: 80%;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #b4b4b4;
  border-bottom: 1px solid #b4b4b4;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb04 2s infinite;
  animation: sdb04 2s infinite;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@-webkit-keyframes sdb04 {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    -webkit-transform: rotate(-45deg) translate(-10px, 10px);
  }
  40% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }
}

@keyframes sdb04 {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
            transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    -webkit-transform: rotate(-45deg) translate(-10px, 10px);
            transform: rotate(-45deg) translate(-10px, 10px);
  }
  40% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
            transform: rotate(-45deg) translate(0, 0);
  }
}

.portfolio {
  padding: 20px 0px 125px 0px;
}

@media screen and (max-width: 767px) {
  .portfolio {
    padding: 50px 0px 50px 0px;
  }
}

.portfolio .title {
  font-size: 60px;
  font-weight: 600;
  text-transform: uppercase;
  color: #b4b4b4;
  font-family: "Playfair Display SC";
  margin-bottom: 50px;
  text-align: center;
}

@media screen and (max-width: 1199px) {
  .portfolio .title {
    font-size: 40px;
  }
}

.portfolio .btn {
  max-width: 250px;
  margin: auto;
  margin-bottom: 70px;
}

.portfolio .btn a {
  position: relative;
  font-family: "Ubuntu";
  font-weight: 400;
  font-size: 30px;
  color: #b4b4b4;
  border: 1px solid #454545;
  padding: 14px 50px 14px 7px;
}

@media screen and (max-width: 1199px) {
  .portfolio .btn a {
    font-size: 24px;
  }
}

.portfolio .btn a span {
  position: absolute;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  display: inline-block;
  width: 14px;
  height: 14px;
  top: 36%;
  right: 8%;
  background-color: transparent;
  border-left: 1px solid #b4b4b4;
  border-bottom: 1px solid #b4b4b4;
  -webkit-transition: rotate(-45deg);
  transition: rotate(-45deg);
  -webkit-animation: arrow 2s infinite;
  animation: arrow 2s infinite;
}

@-webkit-keyframes arrow {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    -webkit-transform: rotate(-45deg) translate(-5px, 5px);
  }
  40% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }
}

@keyframes arrow {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
            transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    -webkit-transform: rotate(-45deg) translate(-5px, 5px);
            transform: rotate(-45deg) translate(-5px, 5px);
  }
  40% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
            transform: rotate(-45deg) translate(0, 0);
  }
}

.portfolio .slider-portfolio {
  position: relative;
}

.portfolio .slider-portfolio .slider-item {
  text-align: center;
}

.portfolio .slider-portfolio .slider-item img {
  display: block;
  max-width: 100%;
  padding: 15px 15px;
}

@media screen and (max-width: 767px) {
  .portfolio .slider-portfolio .slider-item img {
    padding: 5px 5px;
  }
}

.portfolio .slider-portfolio .slick-list {
  overflow: hidden;
}

.portfolio .slider-portfolio .slick-arrow {
  position: absolute;
  top: 97.4%;
  z-index: 10;
  font-size: 15px;
  border: none;
  color: #b4b4b4;
  text-transform: uppercase;
  font-family: "Ubuntu";
  font-family: medium;
}

.portfolio .slider-portfolio .slick-arrow.slick-prev {
  left: 42%;
  background-color: transparent;
}

.portfolio .slider-portfolio .slick-arrow.slick-next {
  right: 44%;
  background-color: transparent;
}

.portfolio .slider-portfolio .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 0;
}

.portfolio .slider-portfolio .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 25px;
}

.portfolio .slider-portfolio .slick-dots li {
  list-style: none;
  margin: 0 6px;
}

.portfolio .slider-portfolio .slick-dots li button {
  background-color: transparent;
  font-size: 15px;
  color: #454545;
  border-radius: 0;
  border: none;
}

.portfolio .slider-portfolio .slick-dots li.slick-active button {
  color: #b69b67;
}

.portfolio #section04 a {
  color: #b4b4b4;
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  max-width: 100%;
  display: block;
  position: relative;
  margin-top: 15px;
}

.portfolio #section04 a span {
  position: absolute;
  top: 80%;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #b4b4b4;
  border-bottom: 1px solid #b4b4b4;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb04 2s infinite;
  animation: sdb04 2s infinite;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@-webkit-keyframes sdb04 {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    -webkit-transform: rotate(-45deg) translate(-10px, 10px);
  }
  40% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }
}

@keyframes sdb04 {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
            transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    -webkit-transform: rotate(-45deg) translate(-10px, 10px);
            transform: rotate(-45deg) translate(-10px, 10px);
  }
  40% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
            transform: rotate(-45deg) translate(0, 0);
  }
}

.feedbacks {
  padding: 30px 0px 60px 0px;
  background-color: #2c2c2c;
}

@media screen and (max-width: 767px) {
  .feedbacks {
    padding: 50px 0px 50px 0px;
  }
}

.feedbacks .container .row {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

@media (max-width: 568px) {
  .feedbacks .container .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.feedbacks .container .row .col-6 {
  -ms-flex: 0 0 50%;
  -webkit-box-flex: 0;
          flex: 0 0 50%;
  max-width: 50%;
  padding: 0 15px;
}

@media (max-width: 1515px) {
  .feedbacks .container .row .col-6 {
    -ms-flex: 0 0 100%;
    -webkit-box-flex: 0;
            flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
  }
}

.feedbacks .container .row .col-6 .title {
  font-size: 60px;
  font-weight: 600;
  text-transform: uppercase;
  color: #b4b4b4;
  font-family: "Playfair Display SC";
  margin-bottom: 50px;
  text-align: center;
}

@media screen and (max-width: 1199px) {
  .feedbacks .container .row .col-6 .title {
    font-size: 40px;
  }
}

.feedbacks .container .row .col-6 .label-img {
  -ms-flex: 0 0 17%;
  -webkit-box-flex: 0;
          flex: 0 0 17%;
  max-width: 17%;
  padding: 0 15px;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}

@media (max-width: 1515px) {
  .feedbacks .container .row .col-6 .label-img {
    -ms-flex: 0 0 100%;
    -webkit-box-flex: 0;
            flex: 0 0 100%;
    max-width: 100%;
    margin: auto;
    margin-bottom: 30px;
  }
}

.feedbacks .container .row .col-6 .label-img:after {
  content: "";
  display: block;
  background-color: #b69b67;
  width: 130%;
  height: 1px;
  margin-top: 27px;
}

@media (max-width: 1515px) {
  .feedbacks .container .row .col-6 .label-img:after {
    display: none;
  }
}

.feedbacks .container .row .col-6 .label-img img {
  max-width: 100%;
  margin: auto;
}

.feedbacks .container .row .col-6 .label-text {
  -ms-flex: 0 0 83%;
  -webkit-box-flex: 0;
          flex: 0 0 83%;
  max-width: 83%;
  padding: 0 15px;
}

@media (max-width: 1515px) {
  .feedbacks .container .row .col-6 .label-text {
    -ms-flex: 0 0 100%;
    -webkit-box-flex: 0;
            flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
    font-size: 16px;
  }
}

.feedbacks .container .row .col-6 .label-text .text {
  font-size: 30px;
  font-family: "Ubuntu";
  color: #b4b4b4;
  font-weight: 300;
  margin-bottom: 36px;
}

.feedbacks .container .row .col-6 .label-text .name {
  font-size: 30px;
  font-family: "Ubuntu";
  color: #b69b67;
  font-weight: 300;
  display: block;
  text-align: right;
  text-transform: uppercase;
  margin-bottom: 100px;
}

.feedbacks .container .row .col-6 .label-text .name:before {
  content: "";
  display: block;
  background-color: #b69b67;
  width: 100%;
  height: 1px;
  margin-bottom: 13px;
}

.feedbacks .container .row .col-6 a {
  display: block;
  margin: auto;
  width: 250px;
  font-family: "Ubuntu";
  color: #b4b4b4;
  text-transform: uppercase;
  font-weight: 300;
  margin-bottom: 30px;
}

.feedbacks .container .row .col-6 a:hover {
  color: #b69b67;
}

.feedbacks .container .row form.form-column {
  position: relative;
  z-index: 1;
  max-width: 100%;
}

.feedbacks .container .row form.form-column input {
  display: block;
  width: 489px;
  margin: auto;
  padding: 25px 0px 25px 26px;
  margin-bottom: 24px;
  border: 1px solid #b4b4b4;
  color: #454545;
  font-size: 30px;
  font-family: "Ubuntu";
  background-color: transparent;
}

@media screen and (max-width: 768px) {
  .feedbacks .container .row form.form-column input {
    width: 100%;
  }
}

.feedbacks .container .row form.form-column textarea {
  display: block;
  resize: none;
  width: 489px;
  height: 253px;
  margin: auto;
  padding: 25px 0px 0px 26px;
  margin-bottom: 24px;
  border: 1px solid #b4b4b4;
  color: #454545;
  font-size: 30px;
  font-family: "Ubuntu";
  background-color: transparent;
}

@media screen and (max-width: 768px) {
  .feedbacks .container .row form.form-column textarea {
    width: 100%;
  }
}

.feedbacks .container .row form.form-column button {
  display: block;
  margin: auto;
  background-color: #b69b67;
  color: #303030;
  text-transform: uppercase;
  font-size: 30px;
  font-family: "Ubuntu";
  font-weight: 300;
  padding: 25px 79px;
}

.feedbacks .container .row form.form-column button:hover {
  background-color: #ca6e49;
  color: #fff;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.feedbacks .container .row form.form-column:after {
  content: "";
  display: block;
  position: absolute;
  top: 82%;
  left: 55%;
  width: 352px;
  height: 283px;
  background: url("../images/men.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -2;
  opacity: 0.3;
}

@media screen and (max-width: 768px) {
  .feedbacks .container .row form.form-column:after {
    display: none;
  }
}

.contacts {
  padding: 60px 0px;
  background-color: #2c2c2c;
}

@media screen and (max-width: 767px) {
  .contacts {
    padding: 50px 0px 50px 0px;
  }
}

.contacts .container .title {
  font-size: 60px;
  font-weight: 600;
  text-transform: uppercase;
  color: #b4b4b4;
  font-family: "Playfair Display SC";
  margin-bottom: 50px;
  text-align: center;
}

@media screen and (max-width: 1199px) {
  .contacts .container .title {
    font-size: 40px;
  }
}

.contacts .container .row {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

@media (max-width: 568px) {
  .contacts .container .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.contacts .container .row .col-4 {
  -ms-flex: 0 0 33%;
  -webkit-box-flex: 0;
          flex: 0 0 33%;
  max-width: 33%;
  padding: 0 15px;
  margin-bottom: 100px;
}

@media (max-width: 1500px) {
  .contacts .container .row .col-4 {
    -ms-flex: 0 0 100%;
    -webkit-box-flex: 0;
            flex: 0 0 100%;
    max-width: 100%;
  }
}

.contacts .container .row .col-4 .title__box {
  text-align: center;
  margin-bottom: 50px;
}

.contacts .container .row .col-4 .title__box h4 {
  display: inline-block;
  color: #b69b67;
  font-size: 30px;
  text-transform: uppercase;
  font-family: "Ubuntu";
  font-weight: 300;
}

.contacts .container .row .col-4 .title__box h4:before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  margin: auto;
  background-color: #b69b67;
  margin-bottom: 15px;
}

.contacts .container .row .col-4 a {
  display: block;
  color: #b4b4b4;
  font-size: 30px;
  text-transform: uppercase;
  font-family: "Ubuntu";
  font-weight: 300;
  text-align: center;
  margin-bottom: 23px;
}

@media screen and (max-width: 991px) {
  .contacts .container .row .col-4 a {
    font-size: 18px;
  }
}

.contacts .container .box__img {
  max-width: 655px;
  margin: 0 auto;
}

.contacts .container .box__img img {
  max-width: 100%;
}

.contacts .container .box__text .box__text-title {
  text-align: center;
  color: #b69b67;
  text-transform: uppercase;
  font-size: 50px;
  font-family: "Ubuntu";
  font-weight: 300;
}

.footer {
  background-color: #2c2c2c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.footer .container .footer__nav .list {
  text-align: center;
}

@media screen and (max-width: 768px) {
  .footer .container .footer__nav .list {
    position: absolute;
    background-color: transparent;
    width: 260px;
    z-index: 3;
    padding: 15px 0px;
    left: -100%;
    -webkit-transition: all 1s;
    transition: all 1s;
  }
}

@media screen and (min-width: 769px) and (max-width: 991px) {
  .footer .container .footer__nav .list {
    position: absolute;
    background-color: transparent;
    width: 617px;
    z-index: 3;
    padding: 15px 0px;
    left: -100%;
    -webkit-transition: all 1s;
    transition: all 1s;
  }
}

.footer .container .footer__nav .list .list__item {
  display: inline-block;
  margin: 0px 20px 0px 20px;
}

@media screen and (max-width: 1368px) {
  .footer .container .footer__nav .list .list__item {
    display: inline-block;
    margin-bottom: 15px;
  }
}

.footer .container .footer__nav .list .list__item .item {
  text-transform: uppercase;
  color: #b4b4b4;
  font-family: "Ubuntu";
  font-weight: 300;
  font-size: 15px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

@media screen and (max-width: 991px) {
  .footer .container .footer__nav .list .list__item .item {
    color: #fff;
  }
}

.footer .container .footer__nav .list .list__item .item:hover {
  color: #b69b67;
}

@media screen and (max-width: 991px) {
  .footer .container .footer__nav .footer__burger .footer__burger-bord {
    position: relative;
    margin-left: auto;
    border: 1px solid #454545;
    width: 52px;
    height: 52px;
  }
  .footer .container .footer__nav .footer__burger .footer__burger-bord:before {
    content: "";
    display: block;
    width: 32px;
    height: 2px;
    background-color: #b4b4b4;
    position: absolute;
    top: 23%;
    left: 18%;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  .footer .container .footer__nav .footer__burger .footer__burger-bord span {
    display: block;
    width: 32px;
    height: 2px;
    background-color: #b4b4b4;
    position: absolute;
    top: 50%;
    left: 18%;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  .footer .container .footer__nav .footer__burger .footer__burger-bord:after {
    content: "";
    display: block;
    width: 32px;
    height: 2px;
    background-color: #b4b4b4;
    position: absolute;
    bottom: 20%;
    left: 18%;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
}

.footer .container .footer__nav .footer__burger .footer__burger-bord.active:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 52%;
  left: 18%;
}

.footer .container .footer__nav .footer__burger .footer__burger-bord.active span {
  -webkit-transform: scale(0);
          transform: scale(0);
}

.footer .container .footer__nav .footer__burger .footer__burger-bord.active:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: 44%;
}

.footer .container .footer__nav .list.active {
  left: 0;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.footer .container .box__img {
  max-width: 1000px;
  margin: auto;
}

.footer .container .box__img img {
  max-width: 100%;
}
